.container .header {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: #ECB159;
    justify-content: space-between;
}

#greeting{
    width: 50vw;
    background: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    
}
#meta{
    width: 20vw;
    background-image: url(/assets/images/metamask\ log.png);
    color: #B67352;
    border-radius: 5px;
}