.container{
    background-color: white;
}

#main-container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: FFE4C9;
    width: 100vw;
}

#info{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 10vh;
    background-color: #BED1CF;
    text-align: center;
    justify-content: center;
}


#other-wallet{
    max-width:  1200px;
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: #ECB159;
    justify-content: center;
    align-items: center;
}

 #account {
    border-radius: 5px;
    height: 2vh;
}

#balance-history {
    border-radius: 5px;
    height: 5vh;
}

#send-trx{
    background-color: #8CB9BD;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
#amount{
    width: 40vw;;

    
}
#toAccount{
   width: 30vw;

}
#sendTrx{
    width: 30vw;
}